@import url("../assets/css/styles.css");
@import url("partials.css");
@import url("swalalert.css");
@import url("callout.css");
@import url("media.css");
@import url("icon.css");
@import url("buttonCustom.css");
@import url("textBackground.css");
