.callout {
    padding: 1.2rem;
    margin: 1rem 0;
    border-radius: 0;
    /* mirip bootstrap rounded */
    border-left: 5px solid #ddd;
    background-color: #f8f9fa;
}

.callout h5 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 600;
}

.callout p:last-child {
    margin-bottom: 0;
}

/* Variasi warna */
.callout-primary {
    border-left-color: #2b7bf3;
    background-color: #ffffff;
}

.callout-success {
    border-left-color: #198754;
    background-color: #eaf7f1;
}

.callout-warning {
    border-left-color: #ffc107;
    background-color: #fff9e6;
}

.callout-danger {
    border-left-color: #dc3545;
    background-color: #fdeaea;
}

.callout-info {
    border-left-color: #22ccee;
    background-color: #f3f4f5;
}
