.image-upload-container {
    position: relative;
    overflow: hidden;
}
.image-upload-container .image-previews {
    width: 100%;
    height: 300px;
    display: block;
}
.image-upload-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.image-upload-overlay .file-upload-label {
    cursor: pointer;
    margin: 0;
    padding: 10px 15px;
}
